# Simple ETL project with Pandas Dataframe.
---
## Introduction

In this project, I was asked to process the registration data for a hackathon organized by DQLab called DQThon.

This dataset consists of 5000 rows of data (5000 participants) in CSV (Comma-separated values) format and has several columns including:

1. participant_id: ID of the hackathon participant. This column is unique so that participants must have different IDs
2. first_name: participant's first name
3. last_name: participant's last name
4. birth_date: participant's date of birth
5. address: the participant's residential address
6. phone_number: Participant's cellphone/phone number
7. country: the participant's country of origin
8. institute: current participating institution, can be a company name or university name
9. occupation: the participant's current occupation
10. register_time: time for participants to register for the hackathon in seconds.

## 1. Extract

In the first step, I'll import the dataset and import pandas data frame, and take a look at the dataset.

In [1]:
import pandas as pd
df_participant = pd.read_csv('https://storage.googleapis.com/dqlab-dataset/dqthon-participants.csv')

In [2]:
df_participant

,participant_id,first_name,last_name,birth_date,address,phone_number,country,institute,occupation,register_time
0,bd9b6f88-b84f-4c4d-90f8-b67fe2f1a29a,Citra,Nurdiyanti,05 Feb 1991,"Gg. Monginsidi No. 08\nMedan, Aceh 80734",(0151) 081 2706,Georgia,UD Prakasa Mandasari,Business Intelligence Engineer,1.617634e+09
1,7dfe3391-6f40-47b6-b4db-0c76ebaf5fc3,Aris,Setiawan,11 Jan 1993,"Gg. Rajawali Timur No. 7\nPrabumulih, MA 09434",+62 (036) 461 7027,Korea Utara,Universitas Diponegoro,Frontend Engineer,1.617634e+09
2,19582d7f-b824-4fe5-a517-d5bf573fc768,Cornelia,Handayani,31 Jul 1993,"Jalan Kebonjati No. 0\nAmbon, SS 57739",089 833 6695,Komoro,UD Hardiansyah Puspasari,Business Analyst,1.617634e+09
3,aeb6d817-25f3-4867-8a74-8d92e0a0f633,Soleh,Rajasa,04 Nov 1991,"Jl. Yos Sudarso No. 109\nLubuklinggau, SR 76156",+62 (418) 329-4756,Eritrea,Perum Tampubolon Yuliarti,DevOps Engineer,1.617634e+09
4,1fdabdd9-5444-4c97-87b2-fe8833ad0d27,Vivi,Astuti,22 Jan 2003,"Jalan Gardujati No. 53\nKediri, Sulawesi Tenga...",0812511835,Aljazair,PT Hardiansyah Rahimah,Data Analyst,1.617634e+09
...,...,...,...,...,...,...,...,...,...,...
4995,5f084245-58cb-4360-8cff-112f06f7214e,Mitra,Latupono,27 Apr 2000,"Jl. Monginsidi No. 5\nCirebon, BB 50268",+62 (050) 795-8398,Hongaria,Institut Teknologi Sepuluh Nopember,Business Intelligence Engineer,1.617634e+09
4996,fc6e142a-3f66-4330-9975-8c1dc7f9bb03,Indah,Rahmawati,06 Mar 1996,"Gang Joyoboyo No. 73\nBogor, BT 57434",+62 (0443) 963 0055,Norwegia,CV Safitri Hastuti Tbk,Data Engineer,1.617634e+09
4997,4521ff9f-4aec-401b-84aa-a4e6fc6549a4,Irsad,Najmudin,14 Feb 2003,"Jalan PHH. Mustofa No. 0\nTanjungbalai, MU 95312",+62 (0408) 216-7689,Ghana,Universitas Katolik Widya Manadala,Fullstack Engineer,1.617634e+09
4998,1c91596e-427c-44a7-b7d0-974f44e18381,Carla,Nasyidah,22 Aug 1994,"Jl. H.J Maemunah No. 955\nManado, Kepulauan Ba...",+62 (0751) 380 3352,Gambia,CV Permadi (Persero) Tbk,Fullstack Engineer,1.617634e+09
4999,5d682e84-bcb5-43e9-8ce0-615364f5376a,Darmana,Maryadi,09 Feb 2002,"Jalan Erlangga No. 76\nBontang, Sulawesi Tengg...",+62 (066) 414 8791,Singapura,Perum Laksita Kuswandari,DevOps Engineer,1.617634e+09

## 2. Transform

Transform is the process of transforming data, or changes to data. Generally like:

1. Changing the value of a column to a new value,
2. Creates a new column by leveraging another column,
3. Transpose rows into columns (or vice versa),
4. Changing the data format to a more standard form (for example, date and date-time columns which usually have non-standard values or cell phone numbers which usually have values that do not conform to the standard format), and others.

### 2.1. Transform Part I - Postal Code

There was a request from the logistics team that they needed the postal code of the participants to make sending trophies easier and faster. Therefore, create a new column named postal_code which contains information about the postal code taken from the participant's address (address column).

Note that the zip code is at the very end of the address.

So, I'll turn addresses into a raw string and use regex to extract postal codes from address data.

In [3]:
df_participant['postal_code'] = df_participant['address'].str.extract(r'(\d+)$')

In [4]:
df_participant['postal_code'].head()

0    80734
1    09434
2    57739
3    76156
4    70074
Name: postal_code, dtype: object

### 2.2 Transform Part II - City

In addition to the postal code, they also require the city of the participant.

To provide this information, I will create a new column named city which is obtained from the address column. It is assumed that the city is a set of characters that appear after the street number followed by \n (newline character).

In [5]:
df_participant['city'] = df_participant['address'].str.extract(r'(?<=\n)(\w+)(?=,)')

In [6]:
df_participant['city']

0              Medan
1         Prabumulih
2              Ambon
3       Lubuklinggau
4             Kediri
            ...
4995         Cirebon
4996           Bogor
4997    Tanjungbalai
4998          Manado
4999         Bontang
Name: city, Length: 5000, dtype: object

### 2.3 Transform Part III - Github

One of the parameters to find out what projects the participants have worked on is from their git repository.

In this case, we use the GitHub profile as the parameter. My task is to create a new column named github_profile which is the participant's GitHub profile link.

Note that their GitHub profile is a lowercase concatenation of first_name and last_name.

In [7]:
df_participant['github_profile'] = 'https://github.com/' + df_participant['first_name'].str.lower() + df_participant['last_name'].str.lower()

In [8]:
df_participant['github_profile'].head()

0      https://github.com/citranurdiyanti
1         https://github.com/arissetiawan
2    https://github.com/corneliahandayani
3          https://github.com/solehrajasa
4           https://github.com/viviastuti
Name: github_profile, dtype: object

### 2.4 Transform Part IV - Mobile Number

If I look in more detail, it turns out that the cellphone numbers in our CSV data have different formats. Therefore, I need to clean the cellphone number data so that it has the same format.  In this case, I'll equate the format to the rules:

1. If the HP number prefix is the number 62 or +62 which is the Indonesian telephone code, then it is translated to 0.
2. No punctuation such as opening bracket, closing bracket, dash⟶ ()-
3. There is no space in the column name for the cell phone number to store the cleaning results for the cell phone number, namely cleaned_phone_number

In [ ]:
df_participant['cleaned_phone_number'] = df_participant['phone_number'].str.replace(r'^(\+62|62)', '0')

In [ ]:
df_participant['cleaned_phone_number'] = df_participant['cleaned_phone_number'].str.replace(r'[()-]', '')

In [ ]:
df_participant['cleaned_phone_number'] = df_participant['cleaned_phone_number'].str.replace(r'\s+', '')

In [12]:
df_participant['cleaned_phone_number']

0        01510812706
1        00364617027
2         0898336695
3        04183294756
4         0812511835
            ...
4995     00507958398
4996    004439630055
4997    004082167689
4998    007513803352
4999     00664148791
Name: cleaned_phone_number, Length: 5000, dtype: object

### 2.5 Transform Part V - Team Name

The dataset currently does not contain team names, and apparently, the Data Analyst team requires information regarding the team names of each participant.

It is known that the team name is a combination of values from the first_name, last_name, country, and institute columns.

My task is to create a new column with the name team_name which contains the team name information from the participants.

In [13]:
def func(col):
    abbrev_name = "%s%s"%(col['first_name'][0],col['last_name'][0]) # Abbreviation of First Name and Last Name by taking the first letter
    country = col['country']
    abbrev_institute = '%s'%(''.join(list(map(lambda word: word[0], col['institute'].split())))) # Abbreviation of value from institute column
    return "%s-%s-%s"%(abbrev_name,country,abbrev_institute)

df_participant['team_name'] = df_participant.apply(func, axis=1)

In [14]:
df_participant['team_name']

0          CN-Georgia-UPM
1       AS-Korea Utara-UD
2           CH-Komoro-UHP
3          SR-Eritrea-PTY
4         VA-Aljazair-PHR
              ...
4995     ML-Hongaria-ITSN
4996     IR-Norwegia-CSHT
4997        IN-Ghana-UKWM
4998       CN-Gambia-CP(T
4999     DM-Singapura-PLK
Name: team_name, Length: 5000, dtype: object

### 2.6 Transform Part VI - Email
After reviewing the participants' data, it turned out that there was one piece of information that was important but not yet available, and that was email.

I as a Data Engineer am asked to provide e-mail information from participants with the rules that the e-mail format is as follows:

Email formats:
xxyy@aa.bb.[ac/com].[cc]

Information:
xx -> first name (first_name) in lowercase
yy -> last name (last_name) in lowercase
aa -> institution name

For bb and cc values follow the value of aa. The rules:
- If the institution is a University, then
   bb -> the combination of the first letters of each word of the university name in lowercase
   Then, followed by .ac indicating the academy/study institution and followed by the cc pattern
- If the institution is not a University, then
   bb -> the combination of the first letters of each word of the institution name in lowercase
   Then, followed by .com. Please note that the cc pattern does not apply to this condition

cc -> is the country of origin of the participant, as for the rules:
- If the number of words in that country is more than 1 then take the abbreviation of that country in lowercase
- However, if the number of words is only 1 then take the first 3 letters of the country in lowercase

Example:
   - First name: Image
   - Last name: Nurdiyanti
   - Institution: UD Prakasa Mandasari
   - Country: Georgia
   - So, the email is: citranurdiyanti@upm.com
---
   - First name: Ares
   - Last name: Setiawan
   - Institution: Diponegoro University
   - Country: North Korea
   - So, Email: arissetiawan@ud.ac.ku

In [15]:
def func(col):
    first_name_lower = col['first_name'].lower()
    last_name_lower = col['last_name'].lower()
    institute = ''.join(list(map(lambda word: word[0], col['institute'].lower().split()))) #Abbreviation of company name in lowercase

    if 'Universitas' in col['institute']:
        if len(col['country'].split()) > 1: #Condition to check whether the number of words from the country is more than 1
            country = ''.join(list(map(lambda word: word[0], col['country'].lower().split())))
        else:
            country = col['country'][:3].lower()
        return "%s%s@%s.ac.%s"%(first_name_lower,last_name_lower,institute,country)

    return "%s%s@%s.com"%(first_name_lower,last_name_lower,institute)

df_participant['email'] = df_participant.apply(func, axis=1)

In [16]:
df_participant['email']

0         citranurdiyanti@upm.com
1           arissetiawan@ud.ac.ku
2       corneliahandayani@uhp.com
3             solehrajasa@pty.com
4              viviastuti@phr.com
                  ...
4995       mitralatupono@itsn.com
4996      indahrahmawati@csht.com
4997    irsadnajmudin@ukwm.ac.gha
4998       carlanasyidah@cp(t.com
4999       darmanamaryadi@plk.com
Name: email, Length: 5000, dtype: object

### 2.7 Transform Part VII - Date of Birth
MySQL is one of the most popular databases and is used to store data in the form of tables, including the processed data that we have done which can later be entered into MySQL.

Even so, there is a rule from MySQL regarding the date format they can accept, namely YYYY-MM-DD with the following information:

YYYY: 4 digits for year MM: 2 digits for month DD: 2 digits for date Example: 2021-04-07

If we look again at the date of birth column, it can be seen that the value does not match the DATE format from MySQL

Therefore, format the birth_date column to YYYY-MM-DD and store it in the same column.

In [17]:
df_participant['birth_date'] = pd.to_datetime(df_participant['birth_date'], format='%d %b %Y')

In [18]:
df_participant['birth_date']

0      1991-02-05
1      1993-01-11
2      1993-07-31
3      1991-11-04
4      2003-01-22
          ...
4995   2000-04-27
4996   1996-03-06
4997   2003-02-14
4998   1994-08-22
4999   2002-02-09
Name: birth_date, Length: 5000, dtype: datetime64[ns]

### 2.8 Transform Part VIII - Competition List Dates
Besides having rules regarding the DATE format, MySQL also provides rules for data of type DATETIME, namely YYYY-MM-DD HH:mm:ss with the following information:

- YYYY: 4 digits indicating the year
- MM: 2 digits indicating the month
- DD: 2 digits indicating the date
- HH: 2 digits indicating the hour
- mm: 2 digits indicating the minute
- ss: 2 digits indicating the second An example would be: 2021-04-07 15:10:55

Because the data regarding participant registration time (register_time) is not in the proper format.

Therefore, my task is to change the register_time to the DATETIME format according to the rules of MySQL and save the results to the register_at column.

In [19]:
df_participant['register_at'] = pd.to_datetime(df_participant['register_time'], unit='s')

In [20]:
df_participant['register_at']

0      2021-04-05 14:47:26
1      2021-04-05 14:46:58
2      2021-04-05 14:47:15
3      2021-04-05 14:47:14
4      2021-04-05 14:46:50
               ...
4995   2021-04-05 14:46:16
4996   2021-04-05 14:46:48
4997   2021-04-05 14:46:06
4998   2021-04-05 14:46:45
4999   2021-04-05 14:46:51
Name: register_at, Length: 5000, dtype: datetime64[ns]

Looking back, my current dataset is different from the previous extract process. There are some additional columns that take advantage of other column values.

My dataset currently contains the columns:

1. participant_id: ID of the hackathon participant. This column is unique so participants must have different IDs
2. first_name: participant's first name
3. last_name: participant's last name
4. birth_date: participant's date of birth (formatted to YYYY-MM-DD)
5. address: the participant's residential address
6. phone_number: Participant's cellphone/phone number
7. country: the participant's country of origin
8. institute: current participating institution, can be a company name or university name
9. occupation: the participant's current occupation
10. register_time: the time the participant registers for the hackathon in seconds
11. team_name: the name of the participating team (a combination of first name, last name, country, and institution)
12. postal_code: postal code of the participant's address (taken from the address field)
13. city: city of the participant (taken from the address field)
14. github_profile: link to the participant's GitHub profile (a combination of first name and last name)
15. email: participant's email address (a combination of first name, last name, institution, and country)
16. cleaned_phone_number: participant's cellphone/phone number (already more in line with the telephone number format)
17. register_at: date and time the participant registers (already in DATETIME format)

In [21]:
df_participant

,participant_id,first_name,last_name,birth_date,address,phone_number,country,institute,occupation,register_time,postal_code,city,github_profile,cleaned_phone_number,team_name,email,register_at
0,bd9b6f88-b84f-4c4d-90f8-b67fe2f1a29a,Citra,Nurdiyanti,1991-02-05,"Gg. Monginsidi No. 08\nMedan, Aceh 80734",(0151) 081 2706,Georgia,UD Prakasa Mandasari,Business Intelligence Engineer,1.617634e+09,80734,Medan,https://github.com/citranurdiyanti,01510812706,CN-Georgia-UPM,citranurdiyanti@upm.com,2021-04-05 14:47:26
1,7dfe3391-6f40-47b6-b4db-0c76ebaf5fc3,Aris,Setiawan,1993-01-11,"Gg. Rajawali Timur No. 7\nPrabumulih, MA 09434",+62 (036) 461 7027,Korea Utara,Universitas Diponegoro,Frontend Engineer,1.617634e+09,09434,Prabumulih,https://github.com/arissetiawan,00364617027,AS-Korea Utara-UD,arissetiawan@ud.ac.ku,2021-04-05 14:46:58
2,19582d7f-b824-4fe5-a517-d5bf573fc768,Cornelia,Handayani,1993-07-31,"Jalan Kebonjati No. 0\nAmbon, SS 57739",089 833 6695,Komoro,UD Hardiansyah Puspasari,Business Analyst,1.617634e+09,57739,Ambon,https://github.com/corneliahandayani,0898336695,CH-Komoro-UHP,corneliahandayani@uhp.com,2021-04-05 14:47:15
3,aeb6d817-25f3-4867-8a74-8d92e0a0f633,Soleh,Rajasa,1991-11-04,"Jl. Yos Sudarso No. 109\nLubuklinggau, SR 76156",+62 (418) 329-4756,Eritrea,Perum Tampubolon Yuliarti,DevOps Engineer,1.617634e+09,76156,Lubuklinggau,https://github.com/solehrajasa,04183294756,SR-Eritrea-PTY,solehrajasa@pty.com,2021-04-05 14:47:14
4,1fdabdd9-5444-4c97-87b2-fe8833ad0d27,Vivi,Astuti,2003-01-22,"Jalan Gardujati No. 53\nKediri, Sulawesi Tenga...",0812511835,Aljazair,PT Hardiansyah Rahimah,Data Analyst,1.617634e+09,70074,Kediri,https://github.com/viviastuti,0812511835,VA-Aljazair-PHR,viviastuti@phr.com,2021-04-05 14:46:50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,5f084245-58cb-4360-8cff-112f06f7214e,Mitra,Latupono,2000-04-27,"Jl. Monginsidi No. 5\nCirebon, BB 50268",+62 (050) 795-8398,Hongaria,Institut Teknologi Sepuluh Nopember,Business Intelligence Engineer,1.617634e+09,50268,Cirebon,https://github.com/mitralatupono,00507958398,ML-Hongaria-ITSN,mitralatupono@itsn.com,2021-04-05 14:46:16
4996,fc6e142a-3f66-4330-9975-8c1dc7f9bb03,Indah,Rahmawati,1996-03-06,"Gang Joyoboyo No. 73\nBogor, BT 57434",+62 (0443) 963 0055,Norwegia,CV Safitri Hastuti Tbk,Data Engineer,1.617634e+09,57434,Bogor,https://github.com/indahrahmawati,004439630055,IR-Norwegia-CSHT,indahrahmawati@csht.com,2021-04-05 14:46:48
4997,4521ff9f-4aec-401b-84aa-a4e6fc6549a4,Irsad,Najmudin,2003-02-14,"Jalan PHH. Mustofa No. 0\nTanjungbalai, MU 95312",+62 (0408) 216-7689,Ghana,Universitas Katolik Widya Manadala,Fullstack Engineer,1.617634e+09,95312,Tanjungbalai,https://github.com/irsadnajmudin,004082167689,IN-Ghana-UKWM,irsadnajmudin@ukwm.ac.gha,2021-04-05 14:46:06
4998,1c91596e-427c-44a7-b7d0-974f44e18381,Carla,Nasyidah,1994-08-22,"Jl. H.J Maemunah No. 955\nManado, Kepulauan Ba...",+62 (0751) 380 3352,Gambia,CV Permadi (Persero) Tbk,Fullstack Engineer,1.617634e+09,80657,Manado,https://github.com/carlanasyidah,007513803352,CN-Gambia-CP(T,carlanasyidah@cp(t.com,2021-04-05 14:46:45
4999,5d682e84-bcb5-43e9-8ce0-615364f5376a,Darmana,Maryadi,2002-02-09,"Jalan Erlangga No. 76\nBontang, Sulawesi Tengg...",+62 (066) 414 8791,Singapura,Perum Laksita Kuswandari,DevOps Engineer,1.617634e+09,41134,Bontang,https://github.com/darmanamaryadi,00664148791,DM-Singapura-PLK,darmanamaryadi@plk.com,2021-04-05 14:46:51

## Load
In this load section, the data that has been transformed in such a way that it fits the needs of the analyst team is entered back into the database, namely the Data Warehouse (DWH).